@use "./global";
@use "./abstracts" as *;

.main {
  width: 100vw;
  height: 100vh;
  background: #222;
  position: relative;
  overflow: hidden;

  &-bg {
    width: 100%;
    height: calc(100vh + to-rem(60));
  }

  &-content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--white);
    text-align: center;
    padding: 0 to-rem(16);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 20px #000000;
    width: 100%;
    max-width: to-rem(526);

    h1 {
      font-size: to-rem(32);
      text-transform: uppercase;
      font-weight: var(--extrabold);
      letter-spacing: to-rem(4);

      span {
        display: block;
      }
    }

    @include media-min(medium) {
      max-width: to-rem(700);

      h1 {
        font-size: to-rem(44);
      }
    }

    @include media-min(desktop-small) {
      max-width: to-rem(800);

      h1 {
        font-size: to-rem(64);
      }
    }

    @include media-min(desktop) {
      max-width: to-rem(1100);

      h1 {
        font-size: to-rem(64);

        span {
          display: inline-block;
        }
      }
    }
  }
}
